.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal {
  background: #000000;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  max-width: 95%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.modal h2 {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.formGroup {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.formGroup label {
  font-weight: bold;
  margin-bottom: 5px;
}

.formGroup select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.formGroup input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.actions button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.actions button[type="submit"] {
  background-color: #28a745;
  color: white;
}

.cancelBtn {
  background-color: #dc3545;
  color: white;
}
